.main {
  background-color: #242424;
  color: white;
  text-align: center;
  opacity: 0.9;
}

.main h1 {
  margin-bottom: 2%;
  padding-top: 2%;
}

ul li {
  display: inline-block;
  padding: 5%;
}
.bulletBlock {
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 1%;
}
